body {
    font-family: Arial, sans-serif;
    background-color: teal;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
  }

  /* Navigation Bar Styles */
.navbar {
    background-color: #007bff;
    padding: 1rem;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .navbar ul li {
    margin-right: 2rem;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  